{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles supprimés
{% endblock title %}


{% block article %}

    <h2 class="Message">L'article {{ article.title }} a bien été supprimé !</h2>

{% endblock article %}