{% extends 'base.html.twig' %}

{% block title %}
    Liste des articles
{% endblock title %}


{% block article %}

    <h2 class="Message">L'article {{ article.title }} a bien été modifié !</h2>

{% endblock article %}