{%extends 'base.html.twig'%}

{% block article%}
    <div class="categories">
        {% for category in categories %}

            {#  Pour faire afficher le titre de ma catégorie : category.title
             grâce à la relation OneToMany qui relie les deux entités : article et category.#}
            <h2>{{ category.title }}</h2>

            {# articles étant une arrayCollection j'effectue une boucle
            afin de récupérer tous les articles contenus dans chaque catégorie : ici on récupère le titre des articles#}
            {% for article in category.articles %}
                <h3>{{ article.title }}</h3>
            {% endfor%}

        {% endfor %}
    </div>

{% endblock article%}

