{% include '_header.html.twig' %}

<main>
    <section class="container">
        <article class="d-flex wrap ">
        {% block article %}
        {% endblock article %}
        </article>
    </section>
</main>

{% include '_footer.html.twig' %}

</body>
</html>
